
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: relative;
    width: 100%;
  }
  

  footer {
    background-color: #f2f2f2;
    padding: 25px; 
        background-image: url("imagens/img_banner/alex-knight-Ys-DBJeX0nE-unsplash.jpg");
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}


@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}    
.foto3{
    display: flex;
    height: 450px;
    text-align: center;
}
.legenda{
    position: absolute;
    top: 1450px;
    left: 970px;
}
.footer-central{
  display: flex;
}